html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.container {
    margin: 0 auto;
    max-width: fit-content;
    padding: 0 10px;
}

header {
    background: url(https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    text-align: center;
    height: 720px;
}

header .container {
    position: relative;
    padding: 50px;
    top: 200px;
}

header h1 {
    color: #fff;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
}

header p {
    color: #fff;
    font-size: 20px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    color: white;
    background:black;
    padding: 10px 40px;
    text-decoration: none;
    transition: background .5s;
}

.button:hover {
    background: gray;
    cursor: pointer;
    transition: background .5s;
}

nav a:hover {
    background: hsl(189, 100%, 92%);
    cursor: pointer;
    transition: background .5s;
}

nav {
    background: white;
    height: 80px;
    width: 100%;
}

nav a {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    color: black;
    display: inline-block;
    text-decoration: none;
    line-height: 80px;
    padding: 0 100px;
}

main .container {
    margin: 80px auto;
}

main img {
    float: left;
    margin: 50px 80px 50px 0;
}
main h2 {
    text-align: center;
    text-transform: uppercase;
}

main p {
    line-height: 1.5em;
}