/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 246, 238);
}

html {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  color: black;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 5rem;
}

header ul {
  display: inline;
}

header ul.right {
  float: right;
}

header .desktop li {
  display: inline-block;
  text-align: center;
  margin: 1.5rem 3rem;
  transition: all .5s;
}

header .desktop a {
  justify-self: left;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

header .desktop i {
  justify-self: right;
}

header .desktop li:hover {
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

/* Main Content */

.main-content {
  position: relative;
  top: 5rem;
  width: 100%;  /* Values for .grid to inherit from body */
  height: 100%;
}

.grid {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  gap: 40px;
  width: 100%;
  height: 90%;
  /* border: solid 2px black; */
}

.box {
  background: linear-gradient(340deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52%),#ffeec4;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / span 10 / span 5;
  border-radius: 15%;
}

.box p {
  color: black;
  font-family: 'Marcellus', serif;
  font-size: 4rem;
  background: transparent;
  padding-left: 2rem;
}

.box p.additional {
  color: gray;
  font-size: 1.2rem;
  padding: 2rem;
}

/* Photo Gallery */

.image {
  grid-area: 2 / 8 / 12 / 12;
  width: 100%;
  height: 100%;
}

image figure {
  width: 100%;
  height: 100%;
}

.image figure img {
  max-width: 100%;
  height: auto;
}

.image figure figcaption {
  text-align: center;
  margin-top: 40px;
  font-size: 1.3rem;
}

.image img {
  border: 10px solid lightgray;
  transform: rotate(-3deg);
  transition: all .5s;
}

.image img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.about {
  grid-area: 3 / 2 / 12 / 7;
}

.about h1 {
  padding-bottom: 1rem;
}

.about p {
  color: rgb(126, 126, 126);
  font-size: 1.1rem;
  line-height: 1.3em;
  margin: 1.5rem auto;
}

.skills {
  background: linear-gradient(223.65deg,rgba(10,207,131,0) 60.59%,rgba(10,207,131,.62) 113.24%),#191919;  
  grid-area: 2 / 8 / 12 / 12;
  border-radius: 15%;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.skills h1 {
  background: transparent;
  color: whitesmoke;
  font-family: 'Marcellus', serif;
  padding: 3rem 3rem 0 0;
  text-align: right;
}

.skills p {
  position: relative;
  background: transparent;
  color: whitesmoke;
  font-family: 'Marcellus', serif;
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem 2rem;
}

.bar {
  margin: 0 2rem;
  width: 80%;
  height: .5rem;
  background-color: rgb(70, 70, 70);
}

.level {
  text-align: right;
  background-color: darkgrey;
  height: 100%;
}

.cpp { width: 90%; }
.python { width: 50%; }
.web { width: 75%; }
.git {width: 50%; }
.linux {width: 60%; }

p.cp {
  text-align: center;
}

p.interested {
  padding: .3rem 2rem;
}

.skills i {
  display: inline-block;
  padding: 1rem 2rem;
}